.footer{
  text-align: center;
  line-height: 30px;
  margin-top: 20px;
  color:#b0aaee;
  font-size: 14px;
  :global(a){
    color: #b0aaee;
    &:hover{
      color: #ed6c00;
    }
  }
}
:global(.gutter){
  margin: 0 10px;
}
